# 2025/04/07
langgraph
langgraph.checkpoint
langgraph.checkpoint.sqlite

grandalf
langchain_openai
langchain_community
langchain-huggingface
langchain_ollama

openai

notion_client

faiss-cpu
transformers
sentencepiece
accelerate

uvicorn
fastapi

streamlit

python-dotenv